<!-- <div style="position: absolute;bottom: 0;right:0">
  <div style="float: left"></div>
  <div
    style="float: left;width: 50px; height: 50px;"
    *ngFor="let item of steps.x.grid; let i = index"
    [style.background-color]="
      i >= steps.x.start && i < steps.x.start + steps.x.count
        ? 'red'
        : 'lightblue'
    "
  >
    {{ item }}
  </div>
</div>
<div style="position: absolute;bottom: 0;left:0">
  <div
    style="width: 50px; height: 50px;"
    *ngFor="let item of steps.y.grid; let i = index"
    [style.background-color]="
      i >= steps.y.start && i < steps.y.start + steps.y.count
        ? 'red'
        : 'lightblue'
    "
  >
    {{ item }}
  </div>
</div> -->

<div
  [style.height.px]="dimension.y"
  [style.width.px]="dimension.x"
  [style.transform]="
    'translate(' +
    dimension.translate.x +
    'px, ' +
    dimension.translate.y +
    'px)'
  "
  class="wrapper"
>
  <div class="main-content">
    <ng-content></ng-content>
  </div>
  <div
    class="zone top"
    (mouseover)="mouseover($event, 'y', -1)"
    *ngIf="isEditable"
  ></div>
  <div
    class="zone bottom"
    (mouseover)="mouseover($event, 'y', 1)"
    *ngIf="isEditable"
  ></div>
  <div
    class="zone left"
    (mouseover)="mouseover($event, 'x', -1)"
    *ngIf="isEditable"
  ></div>
  <div
    class="zone right"
    (mouseover)="mouseover($event, 'x', 1)"
    *ngIf="isEditable"
  ></div>
</div>

<div
  class="drag-handle"
  cdkDrag
  [cdkDragLockAxis]="dragHandle.axis"
  (cdkDragMoved)="dragging($event)"
  (cdkDragReleased)="dragEnded($event)"
  (cdkDragStarted)="isDragging = true"
  [style.height]="dragHandle.style.height"
  [style.width]="dragHandle.style.width"
  [style.top]="dragHandle.style.top"
  [style.left]="dragHandle.style.left"
  [style.cursor]="dragHandle.axis === 'x' ? 'e-resize' : 'n-resize'"
></div>
