:host {
  position: relative;
  height: 0;
  width: 0;
}

.wrapper {
  position: relative;
  background-color: inherit;
  transition: height 0.1s ease-in-out, width 0.1s ease-in-out,
    transform 0.1s ease-in-out;
}

.main-content {
  position: absolute;
  height: 100%;
  width: 100%;
}

.drag-handle {
  position: fixed;
  background-color: blue;
  opacity: 0;
  cursor: n-resize;
}

.zone {
  $zone-size: 10px;
  position: absolute;
  background-color: green;
  opacity: 0;
  &.top {
    height: $zone-size;
    width: 100%;
    top: -1px;
    cursor: n-resize;
  }
  &.bottom {
    height: $zone-size;
    width: 100%;
    bottom: -1px;
    cursor: n-resize;
  }
  &.left {
    height: 100%;
    width: $zone-size;
    left: -1px;
    cursor: e-resize;
  }
  &.right {
    height: 100%;
    width: $zone-size;
    right: -1px;
    cursor: e-resize;
  }
}
