:host {
  position: relative;
  overflow: auto;
}

app-resizable-div {
  position: absolute;
  opacity: 0.8;
  &.selected,
  &:hover {
    opacity: 1;
  }
}

.label-container,
.empty-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  cursor: pointer;

  div,
  mat-icon {
    margin: auto;
    user-select: none;
  }
}

.btn-save {
  position: absolute;
  bottom: 0;
  right: 0;
}

.btn-add {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  .empty-container:hover + & {
    opacity: 0.5;
  }
  &:hover {
    opacity: 1;
  }
}

.btn-remove {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  .label-container:hover + & {
    opacity: 0.5;
  }
  &:hover {
    opacity: 1;
  }
}
