:host {
  position: relative;
  overflow: auto;
}

app-resizable-div {
  position: absolute;
  &.selected,
  &:hover {
    opacity: 0.7;
  }
}

.label-container,
.empty-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  cursor: pointer;

  div,
  mat-icon {
    margin: auto;
    user-select: none;
  }
}

.btn-save {
  position: absolute;
  bottom: 0;
  right: 0;
}
