<app-resizable-div
  *ngFor="let steps of stepsArr"
  [(steps)]="steps"
  (stepsChange)="onStepsChange()"
  [canGrow]="canGrow(steps)"
  [style.background-color]="'#' + colors[steps.label]"
  [class.selected]="swapTarget === steps"
>
  <div class="label-container" (click)="triggerSwap(steps)">
    <div>
      {{ steps.label }}
    </div>
    <mat-icon
      *ngIf="swapTarget === steps"
      aria-hidden="false"
      aria-label="swap icon"
      >cached</mat-icon
    >
  </div>
</app-resizable-div>
<app-resizable-div
  *ngFor="let steps of emptyArr"
  [steps]="steps"
  [isEditable]="false"
  (click)="triggerSwap(steps)"
  [class.selected]="swapTarget === steps"
>
  <div class="empty-container">
    <mat-icon
      *ngIf="swapTarget === steps"
      aria-hidden="false"
      aria-label="swap icon"
      >cached</mat-icon
    >
  </div>
</app-resizable-div>
<app-grid-row-col
  *ngFor="let gdRow of gridRowStr; let i = index"
  [data]="gdRow"
  (dataChange)="gridRowStr[i] = $event"
  (add)="addRow(gridRowStr, i)"
  (remove)="removeRow(gridRowStr, i)"
  [style.top.px]="(100 / gridRowStr.length) * (i + 1) * zoom"
  [style.left.px]="100 * zoom + 69"
></app-grid-row-col>
<app-grid-row-col
  *ngFor="let gdCol of gridColStr; let i = index"
  [data]="gdCol"
  (dataChange)="gridColStr[i] = $event"
  (add)="addCol(gridColStr, i)"
  (remove)="removeCol(gridColStr, i)"
  [style.top.px]="100 * zoom + 21"
  [style.left.px]="(100 / gridColStr.length) * (i + 1) * zoom"
></app-grid-row-col>
