<app-resizable-div
  *ngFor="let steps of stepsArr"
  [(steps)]="steps"
  (stepsChange)="onStepsChange()"
  [canGrow]="canGrow(steps)"
  [style.background-color]="colors[steps.label]"
  [class.selected]="swapTarget === steps"
>
  <div class="label-container" (click)="triggerSwap(steps)">
    <div>
      {{ steps.label }}
    </div>
    <mat-icon
      *ngIf="swapTarget === steps"
      aria-hidden="false"
      aria-label="swap icon"
      >cached</mat-icon
    >
  </div>
  <button
    mat-icon-button
    color="warn"
    class="btn-remove"
    (click)="gridRemove.emit(steps.label)"
  >
    <mat-icon>remove</mat-icon>
  </button>
</app-resizable-div>
<app-resizable-div
  *ngFor="let steps of emptyArr"
  [steps]="steps"
  [isEditable]="false"
  [class.selected]="swapTarget === steps"
>
  <div class="empty-container" (click)="triggerSwap(steps)">
    <mat-icon
      *ngIf="swapTarget === steps"
      aria-hidden="false"
      aria-label="swap icon"
      >cached</mat-icon
    >
  </div>
  <button
    mat-icon-button
    color="primary"
    class="btn-add"
    (click)="gridAdd.emit({ x: steps.x.start, y: steps.y.start })"
  >
    <mat-icon>add</mat-icon>
  </button>
</app-resizable-div>
<app-grid-row-col
  *ngFor="let gdRow of gridRowStr; let i = index; trackBy: trackByIndex"
  [data]="gdRow"
  (dataChange)="gridRowStr[i] = $event"
  (add)="addRow(gridRowStr, i)"
  (remove)="removeRow(gridRowStr, i)"
  [style.top.px]="(100 / gridRowStr.length) * (i + 1) * zoom"
  [style.left.px]="100 * zoom + 69"
></app-grid-row-col>
<app-grid-row-col
  *ngFor="let gdCol of gridColStr; let i = index; trackBy: trackByIndex"
  [data]="gdCol"
  (dataChange)="gridColStr[i] = $event"
  (add)="addCol(gridColStr, i)"
  (remove)="removeCol(gridColStr, i)"
  [style.top.px]="100 * zoom + 21"
  [style.left.px]="(100 / gridColStr.length) * (i + 1) * zoom"
></app-grid-row-col>
