<app-resizable-div
  *ngFor="let steps of stepsArr"
  [(steps)]="steps"
  (stepsChange)="onStepsChange()"
  [canGrow]="canGrow(steps)"
  [style.background-color]="'#' + colors[steps.label]"
  [class.selected]="swapTarget === steps"
>
  <div class="label-container" (click)="triggerSwap(steps)">
    <div>
      {{ steps.label }}
    </div>
    <mat-icon
      *ngIf="swapTarget === steps"
      aria-hidden="false"
      aria-label="swap icon"
      >cached</mat-icon
    >
  </div>
</app-resizable-div>
<app-resizable-div
  *ngFor="let steps of emptyArr"
  [steps]="steps"
  [isEditable]="false"
  (click)="triggerSwap(steps)"
  [class.selected]="swapTarget === steps"
>
  <div class="empty-container">
    <mat-icon
      *ngIf="swapTarget === steps"
      aria-hidden="false"
      aria-label="swap icon"
      >cached</mat-icon
    >
  </div>
</app-resizable-div>
<app-grid-row-col
  *ngFor="let gdRow of grdRow; let i = index"
  [row]="gdRow"
  (rowChange)="grdRow[i] = $event"
  [style.top.px]="(100 / grdRow.length) * (i + 1) * zoom"
  [style.left.px]="100 * zoom + 50"
></app-grid-row-col>
<app-grid-row-col
  *ngFor="let gdCol of grdCol; let i = index"
  [row]="gdCol"
  (rowChange)="grdCol[i] = $event"
  [style.top.px]="100 * zoom + 50"
  [style.left.px]="(100 / grdCol.length) * (i + 1) * zoom"
></app-grid-row-col>
