.wrapper {
  input {
    width: 58px;
    border-color: transparent;
    border: solid 1px transparent;
    border-right: 0;
  }
  select {
    border-color: transparent;
    height: 20px;
  }
  position: absolute;
  bottom: 0;
  right: 0;
  width: 69px;

  .grid-edit-btns {
    height: 0 !important;
    button {
      width: 22px;
      height: 22px;
      line-height: 22px;
      mat-icon {
        height: 22px;
        width: 22px;
        line-height: 22px;
        font-size: 22px;
        opacity: 0.2;
      }
      &:hover mat-icon {
        opacity: 1;
      }
    }
  }
}

:host {
  position: absolute;
}
