<div class="wrapper">
  <input
    *ngIf="unit !== ''"
    type="number"
    [value]="rowNumber"
    (change)="onRowChange($event.target.value)"
  />
  <select
    [value]="unit"
    (change)="unitChanged($event.target.value)"
    [style.width]="unit !== '' ? '37px' : '50px'"
    [style.margin-left]="unit !== '' ? '-37px' : '0'"
    [style.border-left]="unit !== '' ? '0' : '1px solid transparent'"
  >
    <option value="">auto</option>
    <option value="%">%</option>
    <option value="px">px</option>
  </select>

  <div class="grid-edit-btns" fxLayout="row">
    <button mat-icon-button color="primary" (click)="add.emit()">
      <mat-icon>add</mat-icon>
    </button>
    <button mat-icon-button color="warn" (click)="remove.emit()">
      <mat-icon>remove</mat-icon>
    </button>
  </div>
</div>
