<div class="main" fxFlexFill fxLayout="row" fxLayoutAlign="space-around center">
  <div class="scrollable" fxFlex="50" fxFlexFill fxLayout="column">
    <div class="container">
      <mat-card>
        <div
          app-content-block
          [schemaRefs]="schemasRef"
          [data]="data"
          [templates]="templates"
          (curGrid)="currGrid = $event"
          fxFlexFill
        ></div>
      </mat-card>
    </div>
  </div>
  <div fxFlex="50" fxFlexFill fxLayout="column" class="grid-edit">
    <app-grid-edit
      fxFlex="100"
      [grid]="currGrid?.gridAreas"
      [grdRow]="currGrid?.gridRows"
      [grdCol]="currGrid?.gridColumns"
      [zoom]="zoom"
    ></app-grid-edit>
    <div
      class="zoom-control"
      *ngIf="currGrid"
      fxLayout="row"
      fxLayoutAlign="center center"
    >
      <button
        class="center-v"
        mat-icon-button
        aria-label="zoom out"
        (click)="zoom = zoom - 1"
      >
        <mat-icon>zoom_out</mat-icon>
      </button>
      <div class="center-v">
        {{ zoom }}
      </div>
      <button
        class="center-v"
        mat-icon-button
        aria-label="zoom in"
        (click)="zoom = zoom + 1"
      >
        <mat-icon>zoom_in</mat-icon>
      </button>
    </div>
  </div>
</div>
<button
  mat-mini-fab
  class="btn-save"
  (click)="saveGrid()"
  [disabled]="!currGrid"
  color="primary"
>
  <mat-icon aria-hidden="false" aria-label="save">
    save
  </mat-icon>
</button>

<ng-template #gdRowsTemplate let-gdRows>
  <app-grid-row-col
    *ngFor="let gdRow of gdRows; let i = index"
    [row]="gdRow"
    (rowChange)="gdRows[i] = $event"
    gdColumn="-2 / span 1"
    [gdRow]="i + 1 + ' / ' + (i + 2)"
  ></app-grid-row-col>
</ng-template>

<ng-template #gdColsTemplate let-gdCols>
  <app-grid-row-col
    *ngFor="let gdCol of gdCols; let i = index"
    [row]="gdCol"
    (rowChange)="gdCols[i] = $event"
    [gdColumn]="i + 1 + ' / ' + (i + 2)"
    gdRow="-2 / span 1"
    style="width: 0"
  ></app-grid-row-col>
</ng-template>
