app-resizable-div {
  height: 100px;
  width: 100px;
}

$height: (((297/210) * 100) * 0.5) + vw;
$width: ((210/297) * 100) + vh;
.container {
  width: 100%;
  max-width: 21cm;
  height: $height;
  max-height: 29.7cm;
  padding: 2px;
  mat-card {
    height: 100%;
  }
}

.scrollable {
  overflow: scroll;
}

.btn-save {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.center-v {
  margin: auto 0 auto 0;
}

.grid-edit {
  position: relative;

  .zoom-control {
    position: absolute;
    bottom: 0;
    left: 45%;
  }
}
