<div class="main" fxFlexFill fxLayout="row" fxLayoutAlign="space-around center">
  <div class="scrollable" fxFlex="50" fxFlexFill fxLayout="column">
    <div class="container">
      <mat-card>
        <div
          app-content-block
          [schemaRefs]="schemasRef"
          [data]="data"
          [templates]="templates"
          (curGrid)="currGrid = $event"
          fxFlexFill
        ></div>
      </mat-card>
    </div>
  </div>
  <div fxFlex="50" fxFlexFill fxLayout="column">
    <app-grid-edit
      fxFlex="90"
      [grid]="currGrid?.gridAreas"
      [grdRow]="currGrid?.gridRows"
      [grdCol]="currGrid?.gridColumns"
      [zoom]="zoom"
    ></app-grid-edit>

    <div fxFlex="10" fxLayout="row">
      <button
        fxFlexFill
        fxFlex="45"
        (click)="saveGrid()"
        [disabled]="!currGrid"
      >
        Save
      </button>
      <input
        fxFlex="10"
        type="number"
        [value]="zoom"
        (change)="zoom = $event.target.value"
      />
    </div>
  </div>
</div>

<ng-template #gdRowsTemplate let-gdRows>
  <app-grid-row-col
    *ngFor="let gdRow of gdRows; let i = index"
    [row]="gdRow"
    (rowChange)="gdRows[i] = $event"
    gdColumn="-2 / span 1"
    [gdRow]="i + 1 + ' / ' + (i + 2)"
  ></app-grid-row-col>
</ng-template>

<ng-template #gdColsTemplate let-gdCols>
  <app-grid-row-col
    *ngFor="let gdCol of gdCols; let i = index"
    [row]="gdCol"
    (rowChange)="gdCols[i] = $event"
    [gdColumn]="i + 1 + ' / ' + (i + 2)"
    gdRow="-2 / span 1"
    style="width: 0"
  ></app-grid-row-col>
</ng-template>
