<ng-container *ngFor="let schema$ of schemas">
  <ng-container *ngIf="schema$ | async as schema">
    <ng-container [ngSwitch]="schema.type">
      <ng-container *ngSwitchCase="FieldTypes.container">
        <div
          app-content-block
          [gdAreas]="formatGridAreas(schema.gridAreas)"
          [gdArea]="schema.gridArea"
          [gdRows]="schema.gridRows?.join(' ')"
          [gdColumns]="schema.gridColumns?.join(' ')"
          [schemaRefs]="schema.child"
          [templates]="{ gdRow: gdRowsTemplate, gdCol: gdColsTemplate }"
          [data]="data"
          (curGrid)="editGrid($event)"
          (click)="editGrid(schema)"
        >
          <ng-container
            *ngTemplateOutlet="
              templates?.gdCol;
              context: { $implicit: schema.gridColumns }
            "
          ></ng-container>
          <ng-container
            *ngTemplateOutlet="
              templates?.gdRow;
              context: { $implicit: schema.gridRows }
            "
          ></ng-container>
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="FieldTypes.text">
        <div [gdArea]="schema.gridArea" [ngStyle]="schema.style">
          {{ data[schema.field] }}
        </div>
      </ng-container>
      <div *ngSwitchDefault>output2</div>
    </ng-container>
  </ng-container>
</ng-container>
<ng-content></ng-content>
