<ng-container *ngFor="let schema$ of schemas">
  <ng-container *ngIf="schema$ | async as schema">
    <ng-container [ngSwitch]="schema.type">
      <ng-container *ngSwitchCase="FieldTypes.container">
        <div
          app-content-block
          [gdAreas]="schema.gridAreas.join(' | ')"
          [gdArea]="schema.gridArea"
          [gdRows]="schema.gridRows.join(' ')"
          [schemaRefs]="schema.child"
          [data]="data"
        ></div>
      </ng-container>
      <ng-container *ngSwitchCase="FieldTypes.text">
        <div [gdArea]="schema.gridArea" [ngStyle]="schema.style">
          {{ data[schema.field] }}
        </div>
      </ng-container>
      <div *ngSwitchDefault>output2</div>
    </ng-container>
  </ng-container>
</ng-container>
